/* SITE-WIDE */
::selection {
	background-color: #56b64f;
}

body {
	font-family: "Century Gothic Regular", sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: "Calisto MT", serif;
}

#to-top {
	visibility: hidden;
	width: 50px;
	height: 50px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	border-radius: 5px;
	background-color: #56b64f;
	box-shadow: 0 6px 0 #008800, 0 15px 20px rgba(0, 0, 0, .35);
	color: #fff;
	padding-top: 5px;
	text-align: center;
	z-index: 999;
}

#to-top span {
	display: none;
}

#wrapper { 
	margin: auto;
	padding: 0;
	box-shadow: 0 0 15px rgba(0,0,0,.7);
	min-height: calc(100vh - 241px);
}

.navbar { 
	border-radius: 0;
	border-bottom: 0;
	margin-bottom: 0;
	background: url(../imgs/concrete-wall.jpg) repeat;
}

.navbar .container-fluid {
	max-width: 960px;
}

#nav-logo {
	margin-top: -10px;
	height: 40px;
}

.navbar li { 
	transition: background .3s;
	text-shadow: 1px 1px 1px #000;
}

.navbar li:hover {
	background-color: #555;
}

.navbar a {
	transition: color .3s;
}

#fold-img-wrapper {
	padding-top: 50px;
	background-color: #ffffff;
	background-image: url(../imgs/topo-map.png);
	background-attachment: fixed;
}

#fold-img { 
	position: relative;
	max-width: 960px;
	margin: auto;
}

#fold-img img {
	margin: auto;
}

.headline {
	font-size: 30px;
}

.call-to-act, .call-to-act:hover {
	color: #00cc00;
}

.copy { 
	max-width: 960px;
	padding: 15px;
	margin: auto;
}

.row {
	margin: 0;
}

.action-btn { 
	background-color: #56b64f;
	color: #fff;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	padding: 10px;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 0 #008800, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 6px 0 #008800, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
}

.action-btn:hover {
	text-shadow:0 0px 7px rgba(255,255,255,.6);
	text-decoration: none;
	color: #fff;
	background-color: #56b94f;
}

.action-btn:active {
	box-shadow: 0 4px 0 #008800, 0 15px 20px rgba(0, 0, 0, .35);
	transform: translateY(2px);
}

.action-btn:focus {
	color: #fff;
	text-decoration: none;
}

footer { 
	background: url(../imgs/concrete-wall.jpg) repeat;
	color: #9d9d9d;
	text-align: center;
	height: 241px;
}

footer .row {
	padding-top: 10px;
	max-width: 960px;
	margin: auto;
}

footer .row h5 {
	font-weight: 600;
}

footer a {
	color: #fff;
	transition: color .3s;
}

footer a:hover {
	color: #00cc00;
	text-decoration: none;
}

footer a:focus {
	color: #00aa00;
	text-decoration: none;
}

.quick-connect {
	margin: 15px;
}

footer hr{
	border-color:#666;
	width: 90%;
	max-width: 864px;
}

#copyright { 
	text-align: center;
	padding-bottom: 10px;
}

/* INDEX */
#main-content h3 { 
	padding-top: 100px;
	text-align: center;
}

.carousel-fade .carousel-inner .item {
  	-webkit-transition-property: opacity;
  	transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  	opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  	left: 0;
  	-webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.carousel-fade {
  	z-index: 2;
}

#request-btn {
	position: absolute;
	padding-top: 17px;
	bottom: 20px;
	left: 50px;
	width: 210px;
	height: 60px;
}

#main-content a {
	color: #00aa00;
	transition: color .3s;
}

#main-content a:hover {
	color: #00cc00;
}

#main-content a:focus {
	color: #00aa00;
	text-decoration: none;
}

#service-area {
	margin: auto
}

#testimonials {
	text-align: center;
}

.item {
	min-height: 80px;
}

.testimony {
	display: inline-block;
	max-width: 600px;
}

.client {
	display: block;
	padding-top: 10px;
	font-family: 'Calisto MT', serif;
	font-size: 14px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
	color: #00cc00;
	height: 15%;
	transition: opacity .3s;
}

span.glyphicon-chevron-left {
	margin-top: -15px;
}

/* SERVICES */
#services-content, #about-content { 
	padding-top: 90px;
	padding-bottom: 40px;
}

#services-content h2 {
	margin-top: 0;
}

.img-bordered { 
	border: solid #ccc 2px;
}

/* QUOTE */
#quote-content {
	padding-bottom: 40px;
}

.req {
	color: #ff0000;
}

#quote-content .form-control:focus {
	border-color: #00cc00;
}

#quote-content .form-group { 
	max-width: 400px;
}

#quote-content textarea {
	resize: none;
	max-width: 400px;
	height: 100px;
}

/* MESSAGE SENT */
#sent-text {
	display: block;
	padding-top: 90px;
	text-align: center;
}

#sent-btn {
	margin: 20px auto;
	display: block;
	width: 160px;
}

/* ABOUT */
#about-content h2 {
	margin-top: 0px;
}

/* CONTACT */
#contact-content {
	text-align: center;
	padding-bottom: 40px;
}

#google-map {
	height:380px;
	max-width:960px;
	margin:auto
}

#contact-content .row {
	padding-top: 20px;
}

#contact-content .action-btn {
	display: inline-block; 
	margin: 50px auto 0;
}

/* RESOURCES */
#resources-content {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

#resources-content h2 {
	font-size: 20px;
}

#resources-content a, #contact-content p a {
	color: #008800;
	transition: color .3s;
}

#resources-content a {
	display: block;
	margin-bottom: 10px;
}

#resources-content a:hover, #contact-content p a:hover {
	text-decoration: none;
	color: #00cc00;
}

/* MOBILE */
@media screen and (max-width:767px) {
	/* SITE-WIDE */
	button.navbar-toggle {
		background-color: transparent;
		border: none;
	}
	
	footer {
		height: 390px;
	}
	
	abbr[title] {
		text-decoration: none;
		border: none;
	}
	
	/*INDEX*/
	#request-btn {
		background-color: rgba(0,0,0,.5);
		border: 1px solid #00cc00;
		box-shadow: 0 0 0;
		left: 0;
		right: 0;
		bottom: 45px;
		margin: auto;
	}
	
	.carousel-control.left, .carousel-control.right {
		display: none;
	}
	
	.carousel-inner {
		min-height: 100px;
		margin: auto;
	}
	
	.item {
		min-height: 120px;	
	}
	
	.testimony {
		max-width: 300px;
	}
	
	/* SERVICES*/
	#to-top {
		background-color: #56b64f;
		padding-top: 5px;
		box-shadow: 0 0 0;
		right: 0px;
		width: 15px;
		height: 50px;
		border-radius: 0px;
		text-transform: uppercase;
		font-size: 10px;
	}
	
	#to-top i {
		display: none;
	}
	
	#to-top span {
		display: inline;
	}
	
	#to-top:focus {
		text-decoration: none;
	}
	
	/* CONTACT */
	#google-map {
		height: 200px;
	}
}


/*ANIMATION*/
.expandUp{
	animation-name: expandUp;
	-webkit-animation-name: expandUp;	

	animation-duration: .8s;	
	-webkit-animation-duration: .8s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;		

	visibility: visible !important;	
}

@keyframes expandUp {
	0% {
		transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	60%{
		transform: translateY(-7%) scaleY(1.12);
	}
	75%{
		transform: translateY(3%);
	}	
	100% {
		transform: translateY(0%) scale(1) scaleY(1);
	}	
}

@-webkit-keyframes expandUp {
	0% {
		-webkit-transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	60%{
		-webkit-transform: translateY(-7%) scaleY(1.12);
	}
	75%{
		-webkit-transform: translateY(3%);
	}	
	100% {
		-webkit-transform: translateY(0%) scale(1) scaleY(1);
	}	
}